accelerate==1.4.0
adapters==1.1.0
anthropic==0.42.0
fastapi
huggingface-hub==0.28.0
numpy
oauthlib==3.2.2
pdfplumber==0.11.5
peft==0.14.0
pgvector==0.3.6
psutil==5.9.8
pydantic==2.10.4
pydantic-settings==2.7.0
pydantic_core==2.27.2
python-dotenv==1.0.1
safetensors==0.5.2
sentence-transformers==3.4.1
smolagents
tensorflow==2.18.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.47.1
urllib3==2.2.2
uvicorn==0.24.0

